.app-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 30px;
}

.app-area{
  width:1000px;
  display: flex;
  background-color:#B062A1;
  position: relative;
  padding: 20px;
}
.app-chart-item-wrapper{
  position:absolute;
  display: flex;
  height: 40px;
  align-items: center;
  transition: all 1s linear;
}
.app-chart-item{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 6px;
  height: 30px;
  transition: all 1s linear;
}

.app-chart-text{
 margin-left:4px;
 font-size: 12px;
 font-family: monospace;
 font-weight:bold;
}